* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Montserrat, Quicksand, sans-serif;
  user-select: none;
}

html[data-theme="purple"] {
  --color: #ae00ffac;
  --btn-color: #d000ff6e;
  --theme-color: #bb00ff;
  --btn-hover-color: #b300ffd0;
  --theme-bg-color: #c800ff26;
  --color-focus: #9d00ffd0;
  --scroll-thumb: #ed24ff99;
  --scroll-thumb-hover: #af24ff99;
  --icon-color: #af24ff5a;
  --prog-bar-start: rgba(233, 23, 248, 0.21);
  --prog-bar-end: rgba(175, 7, 241, 0.833);
  --btn-bg-start: rgba(233, 23, 248, 0.723);
  --btn-bg-end: rgba(175, 7, 241, 0);
  --model-bg: #d519ff59;
}

html[data-theme="red"] {
  --color: #ff0000ac;
  --btn-color: #ff00006e;
  --theme-color: #ff0000;
  --btn-hover-color: #ff0000d0;
  --theme-bg-color: #ff000026;
  --color-focus: #ff0000d0;
  --scroll-thumb: #ff242499;
  --scroll-thumb-hover: #ff242499;
  --icon-color: #ff24245a;
  --prog-bar-start: rgba(248, 23, 23, 0.21);
  --prog-bar-end: rgba(241, 7, 7, 0.833);
  --btn-bg-start: rgba(248, 23, 23, 0.723);
  --btn-bg-end: rgba(241, 7, 7, 0);
  --model-bg: #ff191959;
}

html[data-theme="blue"] {
  --color: #00ffee8b;
  --btn-color: #00ffee6e;
  --theme-color: #00ffee;
  --btn-hover-color: #00ffeed0;
  --theme-bg-color: #00ffee26;
  --color-focus: #00ffeed0;
  --scroll-thumb: #24e2ff99;
  --scroll-thumb-hover: #24e2ff99;
  --icon-color: #24e5ff5a;
  --prog-bar-start: rgba(23, 237, 248, 0.21);
  --prog-bar-end: rgba(7, 233, 241, 0.833);
  --btn-bg-start: rgba(23, 233, 248, 0.723);
  --btn-bg-end: rgba(7, 229, 241, 0);
  --model-bg: #19fff359;
}

html[data-theme="green"] {
  --color: #00ff1a8b;
  --btn-color: #00ff266e;
  --theme-color: #00ff59;
  --btn-hover-color: #00ff1ad0;
  --theme-bg-color: #00ff2226;
  --color-focus: #00ff37d0;
  --scroll-thumb: #24ff3e99;
  --scroll-thumb-hover: #24ff5099;
  --icon-color: #24ff2b5a;
  --prog-bar-start: rgba(23, 248, 34, 0.21);
  --prog-bar-end: rgba(7, 241, 50, 0.833);
  --btn-bg-start: rgba(23, 248, 53, 0.723);
  --btn-bg-end: rgba(7, 241, 7, 0);
  --model-bg: #19ff5a59;
}

html[data-theme="grey"] {
  --color: #c8c8c870;
  --btn-color: #5a5a5a6e;
  --theme-color: #c9c9c9;
  --btn-hover-color: #747474d0;
  --theme-bg-color: #8f8f8f26;
  --color-focus: #8c8c8cd0;
  --scroll-thumb: #99999999;
  --scroll-thumb-hover: #95959599;
  --icon-color: #9191915a;
  --prog-bar-start: rgba(132, 132, 132, 0.21);
  --prog-bar-end: rgba(128, 128, 128, 0.833);
  --btn-bg-start: rgba(118, 118, 118, 0.723);
  --btn-bg-end: rgba(131, 131, 131, 0);
  --model-bg: #c0b7b759;
}

.side-bar {
  position: fixed;
  background: linear-gradient(
    45deg,
    var(--color) 0%,
    rgba(18, 18, 18, 0.315) 100%
  );
  min-height: 100vh;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.main-container {
  display: none;
  overflow: hidden;
  height: 100%;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  /*background-image: url("./imgs/backimg.jpg");*/
  /*backdrop-filter: blur(20px);*/
  /*opacity: 30px;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

main {
  background-color: rgba(0, 0, 0, 0.679);
  padding-left: 450px;
  height: 100%;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.navbar a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 0 15px #e3e3e394;
}
.navbar span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.navbar a:hover {
  color: #ffffff;
  text-shadow: 0 0 15px #e3e3e394;
}

.footer {
  border-left: 6px solid var(--theme-color);
  background: linear-gradient(
    15deg,
    var(--theme-bg-color) 100%,
    rgba(18, 18, 18, 0.14) 100%
  );
}

.prf-img {
  border: 5px solid var(--theme-color);
  box-shadow: 8px 5px 15px #e3e3e3;
}

.pr_name h2 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color: var(--theme-color);
}

hr {
  color: var(--theme-color);
}

.welcome {
  margin-left: 8px;
  border-left: 6px solid var(--theme-color);
  padding-left: 12px;
}

.icon-footer img {
  width: 50px;
  height: 50px;
}

.op-btn {
  border-radius: 10px;
  border: none;
  color: var(--theme-color);
  background-color: var(--btn-color);
  box-shadow: 8px 5px 15px #00000037;
  text-shadow: 0 0 15px var(--theme-color);
  user-select: none;
}

.op-btn:hover {
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 0 0 15px #e3e3e3;
  background-color: var(--btn-hover-color);
  border: none;
  transition: 0.5s;
  transform: translate(0, -10px);
}

.sidebar-content-tab {
  height: 100%;
  min-height: 680px;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 20px;
}

.main-content-tab {
  /*border: 1px solid var(--theme-color);
  background-color: var(--theme-bg-color);*/
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.main-content {
  background-color: none;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
}

.info-panel {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #ffffff;
}

.ooc {
  color: var(--color);
  text-shadow: 0 0 10px var(--theme-color);
}
.ooc-tab {
  color: white;
  border: 1px solid var(--theme-color);
  border-bottom: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 20px;
}

.form-control {
  color: white;
  border-radius: 20px;
  background-color: var(--color);
  border: 1px solid rgba(255, 255, 255, 0.112);
}

.form-control:focus {
  color: white;
  background-color: var(--color-focus);
  border: 1px solid rgba(255, 255, 255, 0.196);
  box-shadow: 8px 5px 15px #e3e3e337;
}

.form-control::placeholder {
  color: rgb(199, 197, 197);
}

.test {
  overflow: hidden;
}

.ooc-tab1 {
  border: 1px solid var(--theme-color) 00;
  height: 100%;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  border-radius: 20px;
  word-wrap: break-word;
  white-space: nowrap;
}

.card-container {
  height: 100%;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

#msg-head {
  color: var(--theme-color);
  text-shadow: 0 0 10px var(--theme-color);
}
.msg {
  color: #ffffff;
  text-shadow: none;
}

.card {
  background-color: #2125291c;
  border: none;
}
.card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.card-subtitle {
  color: rgb(172, 172, 172);
}
.player-info {
  background-image: url(./imgs/bg-blur.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  border: 1px solid var(--theme-color);
}

.report {
  background-image: url(./imgs/report-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  border: 1px solid var(--theme-color);
}

.patchnote {
  background-image: url(./imgs/patchnotes-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  border: 1px solid var(--theme-color);
}

.player-info-card {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  border-radius: 40px;
}
.table,
.player-info-prog h3 {
  color: #ffffff;
}

.progress {
  background-color: #e3e3e32f;
  border-radius: 20px;
}

.progress-bar {
  background: linear-gradient(
    90deg,
    var(--prog-bar-start) 0%,
    var(--prog-bar-end) 100%
  );
  border-radius: 25px;
  transition: 0.5s;
}

.player-info-btn,
.report-submit-btn,
.report-btn {
  white-space: nowrap;
  color: white;
  letter-spacing: 2px;
  padding: 10px 40px 10px 40px;
  border-radius: 15px 0px 0px 15px;
  background: linear-gradient(
    90deg,
    var(--btn-bg-start) 0%,
    var(--btn-bg-end) 100%
  );
  border: none;
  font-size: 25px;
  user-select: none;
}

.player-info-btn:hover {
  color: rgb(215, 215, 215);
  transform: translate(-10px, 0px);
}

.report-card,
h1 {
  font-size: 35px;
  color: white;
  border-radius: 20px;
  height: 100%;
}

.report-submit-btn:hover {
  color: rgb(215, 215, 215);
  transform: translate(0px, -10px);
}

.form-select {
  color: white;
  border-radius: 9px;
  background-color: var(--color);
  border: 1px solid rgba(255, 255, 255, 0.112);
}

.form-select:focus {
  color: white;
  background-color: var(--color-focus);
  border: 1px solid rgba(255, 255, 255, 0.196);
  box-shadow: 8px 5px 15px #e3e3e337;
}

option {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.555);
}

option:focus {
  background-color: rgba(0, 0, 0, 0.503);
}

.report-btn:hover {
  color: rgb(215, 215, 215);
  transform: translate(0, 10px);
}

#firstName,
#lastName,
#sex,
#job {
  text-transform: uppercase;
}

.ooc_btn {
  color: white;
  background-color: var(--btn-bg-start);
}

.ooc_btn:hover {
  background-color: var(--btn-hover-color);
}

.form-select option {
  color: white;
}

#exit,
#no {
  border: 1px solid var(--btn-color);
  background-color: var(--btn-hover-color);
}

#exit:hover {
  background-color: var(--btn-color);
}
#no:hover {
  background-color: var(--btn-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f137;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 20px;
  height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}

.card-body::-webkit-scrollbar {
  display: none;
}

#patchnote {
  overflow-y: scroll;
  max-height: 500px;
}
